body {
    text-align: center;
}

#myCanvas {
    border: 2px solid black;
}

#cloudEl {
    display: none;
}

#goatEl {
    display: none;
}

#planeEl {
    display: none;
}

#hatEL {
    display: none;
}